"*":
  core:
    disabledPackages: [
      "tree-view"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 12
    invisibles: {}
  "exception-reporting":
    userId: "2da1d331-319b-ecb4-fafd-47d41a256da9"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  linter: {}
  nuclide:
    remoteProjectsConfig: []
  react: {}
  "save-session":
    dataSaveFolder: "/Users/lihorne/.atom/packages/save-session/projects"
  welcome:
    showOnStartup: false
".ini.source":
  editor:
    preferredLineLength: 100
