"*":
  "autohide-tree-view": {}
  core:
    disabledPackages: [
      "no-title-bar"
      "autohide-tree-view"
    ]
    telemetryConsent: "no"
    titleBar: "custom"
  editor:
    fontSize: 12
    invisibles: {}
    softWrap: true
  "exception-reporting":
    userId: "2da1d331-319b-ecb4-fafd-47d41a256da9"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  linter: {}
  "linter-ui-default": {}
  nuclide:
    remoteProjectsConfig: []
  react: {}
  "save-session":
    dataSaveFolder: "/Users/lihorne/.atom/packages/save-session/projects"
  "tree-view":
    showOnRightSide: true
  welcome:
    showOnStartup: false
".ini.source":
  editor:
    preferredLineLength: 100
