"*":
  "autohide-tree-view": {}
  core:
    telemetryConsent: "no"
    useCustomTitleBar: true
  editor:
    fontSize: 13
    invisibles: {}
    softWrap: true
  "exception-reporting":
    userId: "2da1d331-319b-ecb4-fafd-47d41a256da9"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  linter: {}
  nuclide:
    remoteProjectsConfig: []
  react: {}
  "save-session":
    dataSaveFolder: "/Users/lihorne/.atom/packages/save-session/projects"
  "tree-view":
    showOnRightSide: true
  welcome:
    showOnStartup: false
".ini.source":
  editor:
    preferredLineLength: 100
